<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ServerGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ChannelGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="XiahDb"
        connectionString="Data Source=(LOCAL)\SQLEXPRESSR2;Initial Catalog=Xiah;User Id=Xiah;Password=wpx1zum8;Trusted_Connection=True;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <userSettings>
    <ServerGUI.Properties.Settings>
      <setting name="LoginServerPort" serializeAs="String">
        <value>8500</value>
      </setting>
      <setting name="LoginServerIP" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
    </ServerGUI.Properties.Settings>
  </userSettings>
</configuration>