<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GCFLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GCFLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GCFLauncher.Properties.Settings>
            <setting name="LoginServerIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="LoginServerPort" serializeAs="String">
                <value>8600</value>
            </setting>
        </GCFLauncher.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <GCFLauncher.Properties.Settings>
            <setting name="GCFLauncher_XiahServices_LauncherService" serializeAs="String">
                <value>http://xiah.inbaru.com/LauncherService.asmx</value>
            </setting>
        </GCFLauncher.Properties.Settings>
    </applicationSettings>
</configuration>